.about-us-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* GÖRSEL ALANI */
.about-us-photo-dtl {
    position: relative; 
    width: 100%;
}

.about-us-photo-dtl img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
}


.aboutus-txt, .about-us-dlt-txt, .about-us-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    width: 90%;
}

.aboutus-txt {
    top: 280px;
    font-size: clamp(28px, 6vw, 40px);
    font-weight: 700;
}

.about-us-dlt-txt {
    top: 340px;
    font-size: 18px;
    font-weight: 500;
}

.about-us-btn {
    top: 380px;
    width: auto; 
    border-radius: 20px;
    background: linear-gradient(to right,#2d6aa0, #5e479f);
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    
}

.about-us-btn a{
    color: white;
    text-decoration: none;
}

/* ALT BÖLÜM (Hakkımızda Metni ve Üyeler) */
.about-us-split {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap; 
    gap: 30px;
    margin-top: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
}

.about-txt, .owners {
    width: 100%;
    max-width: 600px; 
    height: auto; 
    background-color: #2f343e;
    padding: 25px;
    border-radius: 8px;
}

/* ÜYELER (PROFİLLER) */
.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%; }

@media (max-width: 768px) {
    
    
    .about-us-main, .about-us-split {
        width: 100% !important;
        padding: 0;
        box-sizing: border-box;
    }

    
    .about-us-photo-dtl img {
        width: 100% !important;
        height: 350px !important;
        object-fit: cover;
    }

    
    .aboutus-txt, .about-us-dlt-txt, .about-us-btn {
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 90%;
    }

    .aboutus-txt {
        top: 490px !important;
        font-size: 28px !important;
    }

    .about-us-dlt-txt {
        top: 530px !important;
        left: 50% !important; 
        font-size: 16px !important;
    }

    .about-us-btn {
        top: 570px !important;
        left: 50% !important;
        width: 160px;
    }

    
    .about-us-split {
        flex-direction: column !important;
        align-items: center;
        margin-top: 20px;
    }

    .about-txt, .owners {
        width: 95% !important;
        margin-right: 0 !important; 
        height: auto !important;   
        margin-bottom: 20px;
    }

    .about-txt, .owners{
        margin-left: -15px;
    }
    

    
    .members {
        flex-direction: column !important;
        gap: 30px;
        margin-top: 20px;
    }

    .mem-1, .mem-2 {
        width: 100% !important;
        height: auto !important;
    }
}